@import "@/styles/settings/__settings";

.payment__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.payment__title {
  font-size: $title;
  color: $bgRedPrimary;
  font-weight: 600;
}

.payment__desc {
  font-size: $body;
  font-weight: 300;
  color: $bgGrey;
}

.payment__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
